body {
  font-family: "Satoshi", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.shapka {
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-align: center;
}

.too {
  justify-content: center;
  margin-bottom: 40px;
}

.tre {
  justify-content: end;
  text-align: center;
}

.shapka4 {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  column-gap: 44px;

}

.shapka2 {
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
  display: flex;
  column-gap: 44px;
}

.a1 {
  color: #726e8d;
  text-decoration: none;
}

.vtoroe {
  display: flex;
  justify-content: center;
}

.a2 {
  background-color: rgba(249, 249, 249, 0.15);
  padding: 16px;
  text-decoration: none;
  color: #fff;
}

.vtoroe2 {
  background-color: #2a254b;
  color: #ffff;
  justify-content: space-between;
  display: flex;
  margin-bottom: 120px;
  width: 100%;

}

.pa {
  margin-bottom: 60px;
}

.gapq {
  justify-content: space-between;
  margin-bottom: 41px;
  margin-top: 60px;
}

.aa {
  justify-content: center;

  margin-bottom: 196px;
}

.vtoroe3 {
  margin-left: 60px;
  margin-right: 98px;
}

.phoro {
  display: flex;
  color: #2a254b;
  gap: 59px;
  justify-content: space-between;
  margin-bottom: 166px;
}

.glava {
  justify-content: center;
  text-align: center;
  margin-bottom: 51px;
}

.photo4 {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
}

.photo4 .grid1 {

  width: 50%;
}

.photo4 .grid {
  width: 24%;
}

.photo4 .grid img {
  width: 100%;
}

.grid {
  display: grid;
  margin-bottom: 40px;
}

.photo4 .grid1 img {
  width: 100%;
}

.grid1 {
  display: grid;
  margin-bottom: 40px;
}

.text {
  color: #2a254b;
}

.se {
  margin-bottom: 120px;
}

.sef {
  margin-left: 847px;
  margin-top: 72px;
}

.sec3 {
  margin-bottom: 119px;
}

.vn {
  background-color: #2a254b;
  color: #fff;
  text-decoration: none;
}

.ender {
  display: flex;
  color: #2a254b;
  align-items: center;
}

.ender23 {
  text-decoration: none;
  margin-left: 32px;
  color: #2a254b;
}

.a3 {
  color: #2a254b;
  text-decoration: none;
  margin-top: 24px;
}

.a4 {
  color: #2a254b;
  text-decoration: none;
  margin-top: 8px;
}

.vq {
  width: 50%;
}

.km {
  width: 100%;
}

.ender2 {
  justify-content: center;
  margin-left: 24px;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.get {
  margin-bottom: 212px;
  top: 58px;
}

.endf {
  display: flex;
  justify-content: space-between;
}

.skol2 {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.skol1 {
  color: #fff;
}

.skol3 {
  display: flex;
  color: #fff;
}

.v {
  color: #fff;
  margin-top: 12px;
  text-decoration: none;
}

.ab {
  text-decoration: none;
  color: #726e8d;
}

.vverc {
  column-gap: 44px;
  display: flex;
}

.shapka3 {
  display: flex;
  justify-content: space-between;
  column-gap: 44px;

}

.photor {
  display: flex;
  margin: auto;
}

.phoro2 {
  margin-left: 102px;
  margin-top: 91px;
}

.vaw {
  background-color: #2a254b;
}

.rast {
  margin-bottom: 54px;
}

.bv {
  margin-left: 170px;

}

.bokd {

  padding: 58px;
}

.ptere {
  display: flex;
  border-top: solid;
  margin-top: 40px;
  justify-content: space-between;
  padding-top: 30px;
}

.ptere3 {
  margin-left: 24px;
}

.vb {
  color: #fff;
}

.sec {
  padding: 55px;
  background-color: #f9f9f9;
}

.sec2 {
  background-color: #ffff;
  padding: 60px;
}

.podval {
  background-color: #2a254b;
  padding: 30px;
  margin-top: 119px;
}

.podval2 {
  display: flex;
  justify-content: space-between;
}

.hf {
  display: flex;
  flex-direction: column;
}

.hg {
  display: flex;
  align-items: center;
  column-gap: 10px;
  text-align: center;
}

.but {
  text-decoration: none;
  border: none;
}

.va {
  margin-bottom: 80px;
}

.fndl {
  display: flex;
  background-image: url(/photo/Page\ Headers\ \(3\).png);
  width: 100%;
  height: 209px;
  align-items: flex-end;
  color: white;
  background-position: center;

}

.vg {
  justify-content: end;
  align-items: end;
  margin-left: 80px;
}

.glava4 {
  width: 30%;
}

.podglava {
  display: flex;
  align-items: center;
  text-align: center;
}

.glava3 {
  display: flex;
}


.glavaphoto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  width: 70%;
}

.vvv {
  display: flex;
}

.card_one {
  width: 32%;
}

.card_one img {
  width: 100%;
}

.card_one a {
  display: block;
}

.product_list {
  width: 90%;
  margin: 0 auto;
  padding-top: 36px;
}

.podglava {
  column-gap: 12px;
  margin-bottom: 12px;
}

.podglava p {
  margin-bottom: 0;
  font-size: 16px;
}

.bg {
  justify-content: center;
  margin: 0 auto;
}

.fodd {
  width: 509px;
  background: rgb(255 255 255 / 15%);
  border: 1px solid #4E4D93;
  padding: 17px 32px;
  color: white;
}



@media (max-width: 1300px) {
  .photo4 {
    flex-wrap: wrap;
  }

  .shapka2 {
    display: none;
  }
}

@media(max-width:1283px) {
  .ender {
    flex-direction: column;

  }
}

@media (max-width: 1000px) {

  .intro_image {
    display: none;
  }


}

@media(max-width:800px) {
  .phoro {
    width: 49%;
  }
}

@media (max-width: 767px) {
  .photo4 .grid {
    width: 49%;
  }

  .vae {
    display: none;
  }


}

@media(max-width: 500px) {
  .photo4 .grid {
    width: 100%;
  }
}